* {
    --color-1-transp: #38303d99;
}

.team-container {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.team-member-container {
    display: flex;
    flex-direction: column;
    min-width: 6em;
    max-width: 8em;
    height: auto;
    background-color: var(--color-1-transp);
    color: var(--color-6);
    padding: 0.5em;
    border-radius: 0.2em;
    gap: 0.2em;
}

.tm-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    gap: 0.4em;
}

.tm-main span {
    display: block;
}

.tm-name {
    font-weight: bold;
    font-size: 1em;
}

.tm-description {
    font-size: 0.7em;
}

.tm-role {
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    color: var(--color-2);
    background-color: var(--color-5);
    padding: 0.2em 0.4em;
}

.tm-side img {
    min-width: 4em;
    width: 70%;
    height: auto;
}