#rc-search-results-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#rc-search-results-log {
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    color: var(--color-6);
    background-color: var(--color-1-transp);
}

.search-result-card {
    display: flex;
    flex-direction: column;
    /*row-gap: 1em;*/
    border-radius: 0.5em;
    overflow: hidden;
    color: var(--color-1);
    background-color: var(--color-6);
}

.sr-info-container {
    padding: 1em;
}

.sr-name {
    font-weight: bold;
}

.sr-description {
    font-size: 0.8em;
}

.sr-visit-btn {
    padding: 0.3em 1em;
    border: none;
    border-radius: 0.2em;
    color: var(--color-6);
    background-color: var(--color-4);
}

.sr-visit-btn:hover {
    color: var(--color-5);
    background-color: var(--color-3);
}

.sr-visit-btn:active {
    color: white;
    background-color: var(--color-5);
}

.hidden {
    display: none;
    visibility: hidden;
}