* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    /*border: 1px solid yellow;*/
    --color-1: #355c7d;
    --color-2: #6c5b7b;
    --color-3: #c06c84;
    --color-4: #f67280;
    --color-5: #f8b195;
    --color-6: #ffe4da;
}

body {
    size: 12pt;
    color: white;
    display: flex;
    background-image: url("./img/paisagem-bg.jpg");
    background-size: cover;
    min-height: 100vb;
    min-width: 100vb;
    /*background-position: center;*/
}

header {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    height: auto;
    background-color: var(--color-1);
    padding: 0.3em;
    align-items: center;
}

.logo-container {
    /*width: 10em;*/
    display: flex;
    align-items: center;
}

.lc-text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.nav {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 2em;

    border: 1px solid magenta;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid cyan;
}

.nav-menu a {
    margin: 0 0.5em 0 0.5em;
    text-decoration: none;
    color: white;
}

.nav-menu a:hover {
    font-weight: bold;
}

.input-container {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    background-color: white;
    border-radius: 1em;
    padding: 0.2em;

    border: 1px solid yellow;
}

.input-container button {
    background-color: #355c7d;
    color: var(--color-5);
}

.input-container button:hover {
    background-color: var(--color-2);
    color: #f8b195;
}

.input-container button:active {
    color: yellow;
}

aside {
    display: block;
    padding: 6em 0 0;
    background-color: var(--color-4);
    min-height: 100%;
}

aside nav {
    display: grid;
    grid-template-columns: 1;
    width: 2em;
    justify-content: center;
    gap: 0.5em;
}

aside nav a {
    display: flex;
    width: 1.5em;
    height: 1.5em;
}

aside nav a:hover {
    width: 2em;
    height: 2em;
}

aside nav a img {
    flex-grow: 1;
}

/*.main-content*/
main {
    display: grid;
    flex-grow: 1;
    grid-template-columns: 50% 50%;
    color: var(--color-1);
    background-image: linear-gradient(to right, var(--color-4), rgb(0, 0, 0, 0));
    padding: 4em 2em 1em 2em;
    min-height: 100%;
}

main section {
    padding: 1em;
}

h1 {
    padding: 0.5em 0;
}

p {
    padding: 0.25em 0;
}