* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    --color-0: #38303d;
    --color-1: #35487d;
    --color-2: #6c5b7b;
    --color-3: #c06c84;
    --color-4: #f67280;
    --color-5: #f8b195;
    --color-6: #ffe4da;
    --gradient-4: #f6728022;
    --gradient-6: rgb(255, 228, 218, 0.5);
    --color-1-transp: #38303d99;
}

body {
    size: 12pt;
    color: white;
    display: flex;
    background-image: url("./img/paisagem-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vb;
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: var(--color-0);
    padding: 0.6em 0.3em;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    row-gap: 0.5em;
    height: fit-content;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-width: 20em;
    max-width: 30em;
}

.logo-container {
    display: flex;
    align-items: center;
    color: var(--color-6);
}

.lc-text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.nav-menu a {
    margin: 0 0.5em 0 0.5em;
    text-decoration: none;
    color: var(--color-6);
    transition: all 0.3s ease-in-out;
}

.nav-menu a:hover {
    font-weight: bold;
    font-size: 1.2em;
    transition: all 0.2s ease-in-out;
}

.input-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content:flex-end;
    gap: 0.5em;
    align-items: center;
    background-color: white;
    border-radius: 1em;
    padding: 0.2em 0.5em;
    margin: 0 0.5em;
    min-width: min-content;
}

.input-container input {
    border: none;
    height: 1.5em;
    flex-grow: 1;
}

.input-container button {
    background-color: #355c7d;
    color: var(--color-5);
    font-size: 1.2em;
    border-radius: 0.4em;
}

.input-container button:hover {
    background-color: var(--color-2);
    color: #f8b195;
}

.input-container button:active {
    color: yellow;
}

aside {
    position: fixed;
    z-index: 998;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0 0;
    height: 100vh;
}

aside div {
    flex-grow: 1;
    padding: 2.5em 0;
}

aside div div {
    background-image: linear-gradient(to bottom, var(--gradient-6), var(--color-6), var(--gradient-6));
    width: 0.25em;
    height: 100%;
    border-radius: 0.5em;
}

aside nav {
    display: flex;
    flex-direction: column;
    width: 3em;
    height: fit-content;
    align-items: center;
    gap: 0.5em;
}

aside nav a {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    transition: all 0.3s ease-in-out;
}

aside nav a:hover {
    width: 2em;
    height: 2em;
    transition: all 0.2s ease-in-out;
}

aside nav a img {
    max-width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    color: var(--color-0);
    background-image: linear-gradient(to right, var(--color-4), var(--gradient-4));
    /*top, right, bottom, left*/
    padding: 6.5em 2em 1em 6em;
    min-height: 100%;
    min-width: 100vw;
}

main section {
    padding: 1em;
    min-width: 20em;
    flex: 1;
}

h1 {
    padding: 0.5em 0;
    text-transform:uppercase;
    font-weight:800;
}

h2 {
    padding: 0.35em 0;
    text-transform:uppercase;
    font-weight:800;
}

p {
    padding: 0.3em 0;
    line-height: 1.5;
}